.container-header{
    width:100%;
    max-width:1000px;
    min-height:900px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    border: 1px solid #e2e8f0;
    box-shadow: 0 10px 30px -5px rgba(26, 54, 93, 0.15);
}
.form-body {
    padding: 20px 20px 40px 20px;
}
.form-body>h2 {
    color: #1A365D;
    font-size: medium;
}
.form-body>div {
    margin-bottom: 20px;
}
.form-body input,
.form-body textarea,
.form-body select {
    padding: 14px 16px;
    font-size: 16px;
}
.header-one {
    background-color: #ecfeff;
    padding: 10px;
    border-bottom: 1px solid #1A365D;
    border-radius: 10px 10px 0 0;
}
.header-title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #1A365D;
    padding: 5px;
    background-color: #ecfeff;
}
.header-subtitle {
    font-size: 1rem;
    /* font-weight: bold; */
    letter-spacing: -0.025em;
    color: #1A365D;
    padding: 5px;
    background-color: #ecfeff;
}
.section-one,
.section-two {
    display: flex;
    color: #1A365D;
    padding-top: 10px;
    padding-bottom: 30px;
}
.icon-bed,
.icon-build {
    color: #1a365d;
    margin: 0 5px 0 5px;
}
.circle-check {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    color: rgb(27, 85, 52);
}
.section-one>div>h3,
.section-two>div>h3 {
    color: #1A365D;
    padding-left: 12px;
}
.section-state {
    display: flex;
    padding: 20px 30px 20px 20px;
}
.section-state>div>h4 {
    padding-left: 13px;
}
.btn-lodging {
  background-color: #001f3f;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.btn-lodging:hover {
  background-color: #004aad;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px -5px rgba(26, 54, 93, 0.3);
}